<p class = 'foot'>HOME</p>
<p class = 'foot'>CONTACT</p>
<p class = 'foot'>ABOUT</p>
<div class = 'socialLinks foot'>
  <p><a href = 'https://www.instagram.com/timstales' class = "footerLink">INSTA</a></p>
  <p><a href='https://www.linkedin.com/in/timothy-tolley/' class = "footerLink">LINKEDIN</a></p>
</div>