<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/hero.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <title>Tim's Tales</title>
</head>
<body>

  <div class="container">
    <h1>TIM'S TRAVEL TALES</h1>
    <button class="heroButton" type="button" onclick="window.location.href='./home'"> CONTINUE </button>
  </div>

</body>
</html>